<div id="<%= dom_id weekly_workout %>">
  <p>
    <strong>Member:</strong>
    <%= weekly_workout.member_id %>
  </p>

  <p>
    <strong>Week start date:</strong>
    <%= weekly_workout.week_start_date %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= weekly_workout.complete %>
  </p>

</div>
