<div id="<%= dom_id attendance_record %>">
  <p>
    <strong>Member:</strong>
    <%= attendance_record.member_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= attendance_record.date %>
  </p>

  <p>
    <strong>Is present:</strong>
    <%= attendance_record.is_present %>
  </p>

</div>
